.abd{
    margin-left: 30%;
    padding: right ;
    color: white;
    
}
.jaff{
    border-top: 25px;
}

.max{
    margin-left: 30%;
    color: white;
}
.s{
    margin-left: 30%;
}
.a{
    margin-left: 30%;
}
.b{
    margin-left: 30%;
}
.c{
    margin-left: 30%;
}
.d{
    margin-left: 30%;
}
.e{
    margin-left: 30%;
    background-color:#03787c;
}

.z{
    background-color: #03787c;
}
.col-10{
    padding: 10px;
    margin-left: 2%;


}
.container{
    margin: auto 0;
    padding-left: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
} 
.shiny{
    background-color: aliceblue;
}
.john{
    margin-right: 40%;
}